.search_container{
    width: 40%;
    margin: auto;
    padding-top: 5%;
    
    h2{
        text-align: center;
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 28px;
    }
}