.product_listing_all_container{
    padding-top: 128px;
    padding-bottom: 80px;
    padding-inline: 5%;
}
.grid_container{
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: auto auto auto;
    // grid-gap:5rem;
    gap:3rem;
    justify-content: center;
}

.grid_item{
    display: flex;
    justify-content: center;
}